{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<h1>Login</h1>
{% if form.errors %}
<p>
    Your Username and Password did not match.
    Please try Again
</p>
{% else %}
<p>Please Enter Your Username And Password</p>
{% endif %}
<div class="login-form">
    <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <p><input type="submit" value="Login"></p>
    </form>
</div>
{% endblock %}